#landing {
    background-image: url(landing.jpg);
    background-size: cover;
    height: 100vh;
}

#search {
    display: flex;
    background: #0000000a;
    justify-content: center;
    align-items: center;
    height: 89vh;
}

.lets-go {
    font-size: 51px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.search-bar {
    display: table-cell;
}

.nav-bar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: #0000000a;
}

.nav-bar-logo {
    cursor: pointer;
    height: 34px;
    margin: 24px;
}

.nav-bar-right {
    display: flex;
    color: white;
    font-weight: bold;
    height: 80px;
    align-items: center;
}

.nav-right-item {
    padding: 20px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
}

.nav-right-item:hover {
    cursor: pointer;
    transition: .3s ease-in-out all;
    border-bottom: 2px solid white;
}